Werkzeug==3.1.6
backoff==2.2.1
smmap==5.0.3
tzlocal==5.3.1
cloudpickle==3.1.2
pycryptodome==3.23.0
websockets==15.0.1
multidict==6.7.1
greenlet==3.3.2
altair==6.0.0
aiosignal==1.4.0
sdnotify==0.3.2
camoufox==0.4.11
janus==2.0.0
humanize==4.15.0
email-validator==2.3.0
msgpack==1.1.2
zipp==3.23.0
kiwisolver==1.5.0
types-requests==2.32.4.20260107
schedule==1.2.2
openai==2.24.0
jsonschema==4.26.0
ccxt==4.5.42
PyNaCl==1.6.2
orjson==3.11.7
httpcore==1.0.9
attrs==25.4.0
coincurve==21.0.0
graphql-relay==3.2.0
huey==2.6.0
python-telegram-bot==22.6
redis==7.2.1
botocore==1.40.76
ua-parser-builtins==202603
aiohappyeyeballs==2.6.1
click==8.3.1
narwhals==2.18.1
huggingface_hub==1.5.0
propcache==0.4.1
cachetools==7.0.5
web3==7.14.1
toml==0.10.2
typer==0.24.1
azure-storage-blob==12.28.0
fsspec==2026.2.0
flask-cors==6.0.2
hf-xet==1.3.2
annotated-types==0.7.0
cycler==0.12.1
sentry-sdk==2.57.0
tzdata==2025.3
Flask==3.1.3
freqtrade-client==2026.2
typing_extensions==4.15.0
pycoingecko==3.2.0
cytoolz==1.1.0
language-tags==1.2.0
numpy==2.4.2
regex==2026.2.28
technical==1.5.4
Jinja2==3.1.6
boto3==1.40.76
azure-identity==1.25.2
anyio==4.12.1
prompt_toolkit==3.0.52
pathlib2==2.3.7.post1
aiohttp==3.13.3
eth-utils==5.3.1
ua-parser==1.0.1
wcwidth==0.6.0
browserforge==1.2.4
watchdog==6.0.0
azure-core==1.38.2
build==1.4.0
hyperliquid-python-sdk==0.22.0
APScheduler==3.11.2
pydeck==0.9.1
opentelemetry-proto==1.40.0
eth-keyfile==0.8.1
lxml==6.0.2
clearml==2.1.5
youtube-transcript-api==1.2.4
charset-normalizer==3.4.7
litellm-enterprise==0.1.33
graphql-core==3.2.8
toolz==1.1.0
rpds-py==0.30.0
referencing==0.37.0
s3transfer==0.14.0
sqlparse==0.5.5
wandb==0.25.1
streamlit==1.56.0
tqdm==4.67.3
uvicorn==0.41.0
fonttools==4.62.1
tokenizers==0.22.2
playwright==1.58.0
eth_abi==6.0.0b1
eth-account==0.13.7
typing-inspection==0.4.2
orderedmultidict==1.0.2
tiktoken==0.12.0
contourpy==1.3.3
pycares==5.0.1
sse-starlette==3.3.2
apify_fingerprint_datapoints==0.11.0
bitarray==3.8.0
httpx==0.28.1
python-rapidjson==1.23
itsdangerous==2.2.0
litellm==1.82.0
filelock==3.25.0
eth-hash==0.7.1
pydantic_core==2.41.5
pillow==12.2.0
blinker==1.9.0
questionary==2.1.1
annotated-doc==0.0.4
msal==1.35.1
pydantic==2.12.5
gunicorn==23.0.0
PySocks==1.7.1
joblib==1.5.3
urllib3==2.6.3
MarkupSafe==3.0.3
aiofiles==25.1.0
polars==1.38.1
furl==2.1.4
cffi==2.0.0
parsimonious==0.10.0
shellingham==1.5.4
pyproject_hooks==1.2.0
freqtrade==2026.2
pycparser==3.0
polars-runtime-32==1.38.1
python-multipart==0.0.22
tenacity==9.1.4
pyee==13.0.1
pydantic-settings==2.13.1
defusedxml==0.7.1
SQLAlchemy==2.0.48
ft-pandas-ta==0.3.16
importlib_metadata==8.7.1
eth-keys==0.7.0
litellm-proxy-extras==0.4.50
pandas==2.3.3
fastuuid==0.14.0
soundfile==0.12.1
hexbytes==1.3.1
pyarrow==23.0.1
frozenlist==1.8.0
uvloop==0.21.0
protobuf==6.33.6
aiodns==4.0.0
fastapi==0.135.1
h11==0.16.0
ckzg==2.1.6
fastapi-sso==0.16.0
opentelemetry-api==1.40.0
psycopg2-binary==2.9.11
jiter==0.13.0
matplotlib==3.10.8
threadpoolctl==3.6.0
ast-comments==1.3.0
requests==2.33.1
msal-extensions==1.3.1
tornado==6.5.5
scikit-learn==1.8.0
rlp==4.1.0
GitPython==3.1.46
rq==2.7.0
croniter==6.0.0
screeninfo==0.8.1
mcp==1.26.0
dnspython==2.8.0
pyunormalize==17.0.0
PyJWT==2.11.0
eth-rlp==2.2.0
eth-typing==5.2.1
prettytable==3.17.0
jsonschema-specifications==2025.9.1
platformdirs==4.9.2
gitdb==4.0.12
tabulate==0.10.0
Mako==1.3.10
httpx-sse==0.4.3
isodate==0.7.2
scipy==1.17.1
sniffio==1.3.1
yarl==1.23.0
TA-Lib==0.6.8
pyroscope-io==0.8.16
starlette==0.52.1
typing_extensions==4.10.0
command-not-found==0.3
oslo.serialization==5.4.0
torbrowser-launcher==0.3.7
Twisted==24.3.0
distro-info==1.7+build1
msgpack==1.0.3
pbr==5.11.1
numpy==1.26.4
PyQt5==5.15.10
pip==24.0
markdown-it-py==3.0.0
docker==5.0.3
pyOpenSSL==23.2.0
yt-dlp==2024.4.9
pyxdg==0.28
certifi==2023.11.17
Jinja2==3.1.2
zope.interface==6.1
more-itertools==10.2.0
rich==13.7.1
Babel==2.10.3
pycryptodomex==3.20.0
monotonic==1.6
python-dotenv==1.0.1
olefile==0.46
distro==1.9.0
pexpect==4.9.0
systemd-python==235
idna==3.6
attrs==23.2.0
colorama==0.4.6
pycups==2.0.1
ufw==0.36.2
zipp==1.0.0
jsonpointer==2.0
pyasn1==0.4.8
configobj==5.0.8
pyparsing==3.1.1
oauthlib==3.2.2
websocket-client==1.7.0
dnspython==2.6.1
httplib2==0.20.4
wheel==0.42.0
cryptography==41.0.7
cryptography==41.0.7
roman==3.3
chardet==5.2.0
oslo.config==9.4.0
oslo.log==5.5.1
Automat==22.10.0
PyQt5-sip==12.13.0
gpg==1.18.0
Deprecated==1.2.14
setuptools==68.1.2
jsonschema==4.10.3
python-apt==2.7.7+ubuntu5.2
ubuntu-drivers-common==0.0.0
pyrsistent==0.20.0
unattended-upgrades==0.1
mdurl==0.1.2
oslo.i18n==6.3.0
importlib-metadata==4.12.0
ptyprocess==0.7.0
service-identity==24.1.0
PyGObject==3.48.2
greenlet==3.0.3
launchpadlib==1.11.0
sos==4.9.2
constantly==23.10.4
docopt==0.6.2
mutagen==1.46.0
python-novnc==1.0.0
lazr.restfulclient==0.14.6
pyserial==3.5
hyperlink==21.0.0
cloud-init==25.3
blinker==1.7.0
jwcrypto==1.5.4
eventlet==0.35.2
PySocks==1.7.1
jmespath==1.0.1
websockets==10.4
PyHamcrest==2.1.0
dockerpty==0.4.1
python-dateutil==2.8.2
ssh-import-id==5.11
websockify==0.10.0
pyinotify==0.9.6
gyp==0.1
PyYAML==6.0.1
pytz==2024.1
python-debian==0.1.49+ubuntu2
cupshelpers==1.0
pyasn1-modules==0.2.8
pycairo==1.25.1
urllib3==2.0.7
six==1.16.0
rfc3986==2.0.0
stevedore==5.1.0
psutil==5.9.8
packaging==24.0
debtcollector==2.5.0
dbus-python==1.3.2
xkit==0.0.0
netaddr==0.8.0
python-magic==0.4.27
xdg==5
pyasyncore==1.0.2
iso8601==1.0.2
bcc==0.29.1
incremental==22.10.0
oslo.context==5.5.0
lazr.uri==1.0.6
ubuntu-pro-client==8001
wrapt==1.15.0
Brotli==1.1.0
fail2ban==1.0.2
oslo.utils==7.1.0
bcrypt==3.2.2
wadllib==1.3.6
docker-compose==1.29.2
PyJWT==2.7.0
jsonpatch==1.32
texttable==1.6.7
docutils==0.20.1
netifaces==0.11.0
Pygments==2.17.2
